[Desktop Entry]
Categories=Utility;
Comment=application for youboxclient
Exec=/opt/apps/com.whsrc.youboxclient/files/run.sh
Icon=/opt/apps/com.whsrc.youboxclient/files/youboxclient.png
Name=youboxclient
Terminal=false
Type=Application
Version=2.0
X-Deepin-Vendor=user-custom